<!-- templates/registration/login.html -->
{% extends 'forestcollector/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height:100vh;">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header text-center">
        Forestcollector
      </div>
    <div class="card-body">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <button class="btn btn-primary w-75" type="submit">Login</button>
          </div>
        </form>
    </div>
  </div>
</div>


{% endblock %}