{% extends 'forestcollector/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Forest Collector{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
<link rel="stylesheet" type="text/css" href="{% static 'forestcollector/css/supervisor.css' %}">
{% endblock %}

{% block js %}
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'forestcollector/js/supervisor.js' %}"></script>
<script>
$(document).ready( function () {
    $('#standTable').DataTable({
      responsive: true,
      "columns": [
        { "width": "5%" },
        { "width": "15%" },
        { "width": "15%" },
        { "width": "15%" },
        { "width": "15%" },
        { "width": "15%" },
      ]
    });

    // When datatable is loaded, fade out spinner container by adding class fadeout defined in supervisor.css.
    // After 1 second when fadeout has finished, completely remove spinner container from page by adding display: none (d-none).
    let spinner = document.getElementById('spinner');
    spinner.classList.add('fadeout');
    setTimeout(function() {
      spinner.classList.remove('d-flex');
      spinner.classList.add('d-none');
    }, 1000);
} );
</script>
{% endblock %}


{% block content %}
{% include 'forestcollector/include/header.html' %}

<div id="spinner" class="spinner-container bg-dark d-flex align-items-center justify-content-center">
  <div class="text-center">
      <div class="spinner d-block mb-3"></div>
      <h5 class="text-white">Preparing data...</h5>
  </div>
</div>

<div class="row">
  <div class="col">
      <div id="map"></div>
  </div>
</div>

<div class="row">
    <div class="col">
        <h3 id='titel'>All entries</h3>
    </div>
</div>

<div>
    <table id="standTable" class="table table-success table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Alter</th>
            <th scope="col">Mischungsgrad</th>
            <th scope="col">Entwicklungsstufe</th>
            <th scope="col">ErfasserIn</th>
            <th scope="col">Datum</th>
          </tr>
        </thead>
        <tbody>
        {% for stand in stands %}  
          <tr>                      
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{stand.age}}</td>
            <td>{{stand.mischungsgrad}}</td>
            <td>{{stand.get_entwicklungsstufe_display}}</td>
            <td>{{stand.creator}}</td>
            <td>{{stand.created_at|date:"d.m.Y | H:i"}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>   
</div>

{% endblock %}



