{% extends 'forestcollector/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Forest Collector{% endblock %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#standTable').DataTable({
      "columns": [
        { "width": "5%" },
        { "width": "20%" },
        { "width": "20%" },
        { "width": "20%" },
      ]
    });
} );
</script>
{% endblock %}


{% block content %}
{% include 'forestcollector/include/header.html' %}
<div class="row">
    <div class="col">
        <h3 id='titel'>All entries</h3>
    </div>
</div>

<div>
    <table id="standTable" class="table table-success table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Alter</th>
            <th scope="col">Mischungsgrad</th>
            <th scope="col">Entwicklungsstufe</th>
          </tr>
        </thead>
        <tbody>
        {% for stand in stands %}  
          <tr>                      
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{stand.age}}</td>
            <td>{{stand.mischungsgrad}}</td>
            <td>{{stand.get_entwicklungsstufe_display}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>   
</div>

{% endblock %}



