{% extends 'forestcollector/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Forest Collector{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="{% static 'forestcollector/css/collector.css' %}">
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
  <script src="{% static 'forestcollector/js/collector.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col">
        <h2 id='titel'>Forest Collector App</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 order-md-2">
        <form method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.lat|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.lon|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.accuracy|as_crispy_field }}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.entwicklungsstufe|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.mischungsgrad|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.age|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 mb-0">
                    {{ form.bemerkungen|as_crispy_field }}
                </div>
        
            </div>
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </form>
    </div>
    <div class="col-md-6 order-md-1">
        <div id="map">
            <button id="getLocationBtn" class="btn btn-light">Get my current Location</button>
        </div>
    </div>
</div>
{% endblock %}



