{% extends 'forestcollector/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Forest Collector{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}


{% block content %}
<div class="row bg-dark">
    <div class="col">
        <p class="text-white">Welcome {{user.username}}!</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3 id='titel'>All entries</h3>
    </div>
</div>

<div>
    <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Alter</th>
            <th scope="col">Mischungsgrad</th>
            <th scope="col">Entwicklungsstufe</th>
          </tr>
        </thead>
        <tbody>
        {% for stand in stands %}  
          <tr>                      
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{stand.age}}</td>
            <td>{{stand.mischungsgrad}}</td>
            <td>{{stand.entwicklungsstufe}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>   
</div>

{% endblock %}



